@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  font-family: 'Epilogue', sans-serif;
  /* background-color: #121212; */
  background-color: black;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .hover-underline {
    @apply after:bg-black after:w-0 after:group-hover:w-full after:group-hover:right-0 after:h-0.5 after:absolute after:left-0 after:bottom-0 after:transition-all after:duration-200;
  } */
}
